/*
CSS RESETS:
 Border box reset:
 https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.6rem; /* 1.6rem is now the same as 16px */
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

@keyframes stretching {
    0% {
        width: 100px;
    }
    100% {
        width: 200px;
    }
}

.button {
    display: inline-block;  
    background-color: lightblue;
    padding: 10px 50px;
    text-align: center;
    color: black;
    font-size: 1.6rem;
    border-radius: 5px;
    margin: 50px;  
    cursor: pointer;

    animation-name: stretching;
    animation-duration: 2s;
    animation-iteration-count: infinite; /* Makes animation loop */
    animation-timing-function: ease-in-out;
}

/* the animation */
@keyframes changeBackground {
    0% { background-color: lightblue; }
    50% { background-color: pink; }
    100% { background-color: lightblue; }
}

body {
    animation: changeBackground 5s infinite alternate;
}
